:root {
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a18268;
  /* --background-url: "../images/header-background.jpg";
	--background-url-2x: "../images/header-background@2x.jpg"; */
}

/* $bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px; */

/* Palette https://colorhunt.co/palette/f9efdbebd9b49dbc98638889  */

/* Main */

canvas {
  width: 450px;
  height: 300px;
  border: 2px dotted salmon;
  margin: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.395) 0%,
    rgba(249, 190, 246, 0.395) 35%,
    rgba(179, 0, 255, 0.395) 100%
  );
  color: #333;
  /* padding-top: 65px; */
}

h1 {
  text-align: center;
}

h2 {
  color: #638889;
  transition: font-size 0.3s ease;
}

h2:hover {
  font-size: 30px; /* Increase the font size on hover */
  transition: font-size 0.3s ease; /* Add a smooth transition effect */
  cursor: pointer;
}

h3 {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.6) 0%,
    rgba(148, 187, 233, 0.6) 100%
  );
  cursor: pointer;
  transition: font-size 0.3s ease;
}

h3:hover {
  font-size: 30px; /* Increase the font size on hover */
  transition: font-size 0.3s ease; /* Add a smooth transition effect */
}

p {
  font-size: 1.2em; /* Set the base font size */
  line-height: 1.5;
  color: #555;
  margin-bottom: 15px;
  margin-left: 12px;
}

/* Header */

.header {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  /* @media screen and (min-width: $bp-desktop) {
					padding-top: 32px;
			} */
}

header h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  margin-bottom: 16px;
  margin-top: 48px;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.655) 0%,
    rgba(148, 187, 233, 0.655) 100%
  );
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content {
  margin-top: 15px;
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  /* background-color: #b9f0fbae; */
}

/* Buttons */

.toggle-btn {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.5) 0%,
    rgba(148, 187, 233, 0.5) 100%
  );
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

/* General button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Primary button style */
.primary-button {
  font-size: 1.2em;
  margin: -6px 10px 0px 0px;
  background-color: var(--color-secondary-dark);
  color: var(--color-primary-dark);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Secondary button style */
.secondary-button {
  background-color: #638889; /* Light teal */
  color: #fff; /* White text */
}

/* Hover effect */
.secondary-button:hover {
  background-color: #444; /* Darker background color on hover */
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

.primary-button:hover {
  background-color: #444; /* Darker background color on hover */
  box-shadow: 0px 15px 20px rgba(161, 130, 104, 0.6);
  color: #fff;
  transform: translateY(-3px);
}

/* Lists */

.mainList {
  list-style-type: circle;
  padding-left: 20px;
}

.mainListItem {
  margin-bottom: 8px;
  position: relative;
  color: #555; /* Dark gray */
}

.mainListItem:before {
  /* content: "\2022";  Unicode character for a bullet point */
  color: #638889; /* Light teal */
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
}

/* Additional styling for the list items on hover */
.mainListItem:hover {
  color: #001a57; /* Dark blue */
}

/* TODO List */

.toDoList {
  padding-left: 0;
  list-style-type: none;
  font-size: 20px;
}

.toDoListItem {
  background-color: #eee;
  border: 1px solid #c3c3c3;
  padding: 10px 0px 10px 5px;
}
.addToDOitem {
  display: flex;
  gap: 16px;
}

/* Step 5 below here */
.done {
  color: var(--color-brand-light);
  background-color: green;
  border-radius: 8px;
  border: 1px solid var(--color-brand-light);
}

.remove {
  color: var(--color-brand-light);
  background-color: red;
  border-radius: 8px;
  border: 1px solid var(--color-brand-light);
}

.important {
  color: var(--color-primary-dark);
  background-color: yellow;
  border-radius: 8px;
  border: 1px solid var(--color-brand-light);
}

/* mark task as finished */
/* Step 6 below here */
li.finished {
  color: var(--color-brand-normal);
  background: radial-gradient(
    circle,
    rgba(169, 169, 169, 0.4) 0%,
    /* Light gray with reduced opacity */ rgba(128, 128, 128, 0.4) 100%
      /* Darker gray with reduced opacity */
  );
  text-decoration: line-through;
}

input[type="text"] {
  font-size: 18px;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--color-brand-light);
}

/* Input */

input[type="color"] {
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid var(--color-brand-light);
}

input[type="range"] {
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid var(--color-brand-light);
}

.about-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
}

.close-btn:hover {
  color: #000;
}

.bgColorFuchsia {
  background-color: fuchsia;
  border: none;
  border-radius: 4px;
}

.bgColorOrange {
  background-color: orangered;
  border: none;
  border-radius: 4px;
}

.bgColorBlue {
  background-color: blue;
  border: none;
  border-radius: 4px;
}

.bgColorYellow {
  background-color: yellow;
  border: none;
  border-radius: 4px;
}

.colorChanges {
  display: flex;
  gap: 16px;
}

/* Додайте це правило для внутрішнього відступу всередині .colorChanges */
.colorChanges > div {
  margin-bottom: 16px;
  width: 50%;
}

/* Якщо не хочете внутрішній відступ для останнього div */
.colorChanges > div:last-child {
  margin-right: 0;
}

.greyback {
  background-color: grey;
}

.greenback {
  background-color: green;
}

.transparent {
  background-color: transparent;
}

.button-container {
  text-align: center; /* Центрує контейнер */
}

.button-container input[type="button"] {
  margin: 5px; /* Додайте відступ між кнопками */
}

/* Для екранів шириною більше 600px встановіть по 3 кнопки в ряд */
@media (min-width: 600px) {
  .button-container input[type="button"] {
    width: calc(33.33% - 10px); /* 10px - урахування відступів */
    box-sizing: border-box;
  }
}

/* Для екранів шириною менше або рівно 600px встановіть по 2 кнопки в ряд */
@media (max-width: 600px) {
  .button-container input[type="button"] {
    width: calc(50% - 10px); /* 10px - урахування відступів */
    box-sizing: border-box;
  }
}

/*Drawing section*/

.drawingCanvas {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: 10px;
}

blockquote {
  background-color: #f9f9f9;
  border-left: 4px solid #333;
  margin: 0;
  padding: 10px 20px;
  width: max-content;
}

blockquote p {
  margin: 0;
}

cite {
  display: block;
  text-align: left;
  color: #777;
  margin-top: 10px;
}

.quote {
  margin: 12px;
}

.canvasResolution {
  margin: 5px; /* Adjust margin as needed */
  padding: 8px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add border-radius for rounded corners */
}
