/* Palette https://colorhunt.co/palette/f9efdbebd9b49dbc98638889  */


canvas{
	width: 450px;
	height: 300px;
	border: 2px dotted salmon;
	}
	
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,190,246,1) 35%, rgba(177,0,255,1) 100%);
  color: #333;
}

.section {
  margin-bottom: 15px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h1 {
      color: #638889;
    }

h2 {
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
cursor: pointer;
transition: font-size 0.3s ease;
}

h2:hover {
  font-size: 30px; /* Increase the font size on hover */
  transition: font-size 0.3s ease; /* Add a smooth transition effect */
}

p {
      font-size: 1.2em; /* Set the base font size */
      line-height: 1.5;
      color: #555;
      margin-bottom: 15px;
    }

.toggle-btn {
  background-color: #f4f4f4;
  padding: 10px;
  cursor: pointer;
}

.content {
margin-top: 15px;
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #9DBC98;
}

ul {
      list-style-type: circle;
      padding-left: 16px;
    }

    li {
      margin-bottom: 8px;
    }

    input[type="button"] {
      background-color: #001A57;
      color: #638889;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 10px;
    }

    input[type="color"] {
      margin-right: 10px;
    }

    input[type="range"] {
      margin-top: 10px;
    }


